@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

html {
	background-color: #0081FE;
}

body {
	background-image: url('../img/menu-background.jpg');
	background-size: cover;
	background-repeat: repeat repeat;
	width: 100%;
	height: 100%;
	-webkit-font-smoothing:antialiased;
	font-family: Verdana;
	font-size: 0.9em;
	color: #eee;
	background-color: #eee;
}

#content header {
	text-align: center;
}

#content footer {
	text-align: center;
	padding: 25px;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	top: 25%;
}

ul#userinfo {
	list-style-type: none;
	margin: auto;
	width: 90%;
}

ul#userinfo li {
	width: 420px;
	height: 150px;
	background: #091B45;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
}

ul#userinfo li.wide {
	width: 100%;
	height: 150px;
	background: #091B45;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
}


td.image {
	padding: 10px;
}

td.stats {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding-bottom: 15px;
	padding-right: 30px;
}

td.stats label {
	font-weight: bold;
}
.name a,
.name a:hover,
.name {
	text-decoration: none;
	color: #fff;
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

footer { 
	float: left; 
	padding-top: 150px;
	}
footer p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	}
footer p,
.stat {
	color: #fff;
}


header a {
	color: #eee;
}

header a:hover {
	color: #666;
}

a {
	color: #6797B0;
	text-decoration: none;
}
