{loop="$osuentries"}
<li>
				<table>
					<tr>
						<td class="image">
							<img height="128" width="128" src="//a.ppy.sh/{$value.avatar}" />
						</td>
						<td class="stats">
							<label class="name"><a href="//osu.ppy.sh/u/{$value.username}">{$value.username}</a></label><br />
							<label class="stat">Accuracy:</label> {$value.accuracy}%<br />
							<label class="stat">Playcount:</label> {$value.playcount}<br />
							<label class="stat">Rank:</label> #{$value.pp_rank}<br />
							<label class="stat">Level:</label> {$value.level}<br />
							<label class="stat">Ranked score:</label> {$value.ranked_score}<br />
						</td>		
					</tr>
				</table>
			</li>
			{/loop}