{loop="$recentstuff"}
<li class="wide">
				<table>
					<tr>
						<td class="image">
							<img height="128" width="128" src="//a.ppy.sh/{$value.avatar}" />
						</td>
						<td class="stats">
							<label class="name"><a href="//osu.ppy.sh/u/{$value.username}">{$value.username}</a></label><br />
							{loop="$events"}
								{$value.event}<br />
							{/loop}
						</td>		
					</tr>
				</table>
			</li>
			{/loop}